<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="flashes">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <form action="/" method="POST">
      <table>
        <tr>
          <td><label for="convert_from">Convert from:</label></td>
          <td><input type="text" name="convert_from" /></td>
        </tr>
        <tr>
          <td><label for="convert_to">Convert to:</label></td>
          <td><input type="text" name="convert_to" /></td>
        </tr>
        <tr>
          <td><label for="amount">Amount:</label></td>
          <td><input type="text" name="amount" /></td>
        </tr>
        <tr>
          <td><input type="submit" value="CONVERT" id="convert-button" /></td>
        </tr>
      </table>
    </form>

    <section>
      {% block content %} {% include "rate.html" %}{% endblock %}
    </section>
  </body>
</html>
